@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
}
h1{
  text-align: center;
}
.calculator {
  max-width: 558px;
  height: 632px;
  margin: 0 auto;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 25px;
  border: solid 10px #cecece;
}

.display {
  background-color: #1e1e1e;
  margin-bottom: 10px;
  margin-top: 10%;
  padding: 10px;
  text-align: right;
  font-size: 60px;
  font-weight: bold;
  color: antiquewhite;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.last-buttons-container{
  margin-top: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 72% 28%;
  gap: 10px;
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 112px;
  max-height: 112px;
  cursor: pointer;
}

/* button:hover {

} */
.adapt{
  background-size: cover;
  background-position: center;
}
.equals-button{
  background: url(./img/equals.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.point-button{
  background: url(./img/point.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.clear-button{
  background: url(./img/clear.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.multiply-button{
  background: url(./img/multiply.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.minus-button{
  background: url(./img/minus.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.plus-button{
  background: url(./img/plus.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.divide-button{
  background: url(./img/divide.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.one-button{
  background: url(./img/one.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.two-button{
  background: url(./img/two.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.three-button{
  background: url(./img/three.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.four-button{
  background: url(./img/four.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.five-button{
  background: url(./img/five.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.six-button{
  background: url(./img/six.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.seven-button{
  background: url(./img/seven.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.eight-button{
  background: url(./img/eight.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.nine-button{
  background: url(./img/nine.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.zero-button{
  background: url(./img/zero.png) no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 670px) {
  button {
    height: 90px;
  }
  .calculator {
    height: 550px;
  }
}
@media (max-width: 550px) {
  button {
    height: 70px;
  }
  .calculator {
    height: 450px;
    padding: 10px;
  }
  .buttons {
    gap: 5px;
  }
  .last-buttons-container{
    gap: 5px;
  }
}
@media (max-width: 460px) {
  button {
    height: 50px;
  }
  .calculator {
    height: 360px;
    padding: 5px;
  }
}
@media (max-width: 300px) {
  button {
    height: 40px;
  }
  .calculator {
    height: 310px;
    padding: 3px;
  }
  .buttons {
    gap: 3px;
  }
  .last-buttons-container{
    gap: 3px;
  }
}
